/* GLOBAL SETTINGS */
:root {
    --standard-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: "Roboto", sans-serif;
    color: #212121;
}

* h1,
h2,
p,
ul {
    margin: 0;
}

.link {
    text-decoration: none;
    font-style: normal;
}
.link:hover,            /* .link:active, */
.link:focus {
    color: #2196F3;
    cursor: pointer;
    transition: scale var(--standard-animation);
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    max-width: 768px;
    margin: 0 auto;
}

.section {
    padding: 94px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* NAVIGATION PANEL */
.navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ECECEC;
    padding: 0 15px;
    min-height: 60px;
}

nav,
.contacts-list {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #2196F3;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192307692307692;
    display: flex;
    align-items: center;
}
.accent1 {
    color: #000000;
}
.accent2 {
    color: #FFFFFF;
}

.menu-toggle {
    border: none;
    background-color: #FFFFFF;
}

.menu-toggle svg:hover {
    fill: #2196F3;
    cursor: pointer;
}


/* HEADER */
.head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    min-height: 400px;
    padding: 0 15px;
    background-color: rgba(47, 48, 58);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/header-background.jpg");
}

.heading1 {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    line-height: 161.538%;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    max-width: 395px;
    margin: 0;
}

.open-modal-button,
.send-form-button {
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: bold;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-radius: 4px;
    cursor: pointer;
    min-width: 200px;
    min-height: 50px;
    margin-top: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.send-form-button {
    width: 200px;
    padding: 10px auto;
    align-self: center;
    font-size: 16px;
    line-height: 30px;
    border: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 20, 32, 0.5);
    pointer-events: all;
    visibility: visible;
    transition: opacity 250ms;
    display: flex;
    justify-content: center;
}

.modal-body {
    position: relative;
    min-width: 290px;
    margin: auto 5px;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    z-index: 1;
    transition: scale var(--standard-animation);
    padding: 40px;
}

.close-modal-button {
    position: absolute;
    inset: 8px 8px auto auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    fill: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.is-hidden {
    pointer-events: none;
    visibility: none;
    opacity: 0;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-form>p {
    letter-spacing: 0.6px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 12px;
    margin-bottom: 10px;
}

.basic-input {
    width: 100%;
    height: 18px;
    border: none;
}
.basic-input:focus {
    border: none;
    padding: 0;
    outline: none;
}

.input-wraper {
    display: flex;
    border: 1px solid #212121;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    padding: 11px 12px;
    height: 40px;
    margin-top: 4px;
    gap: 10px
}
.input-wraper:focus-within {
    border: 1px solid #2196F3;
    fill: #2196F3;
}

textarea {
    width: 100%;
    min-height: 120px;
    padding: 12px 16px;
    border-radius: 4px;
    margin-top: 4px;
    outline: none;
    resize: none;
}
textarea:focus-within {
    border-color: #2196F3;
}

.rules-wraper {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    gap: 4px;
    padding: 20px 0 15px;
}

input[type="checkbox"] {
    position: relative;
    color: #fff;
    visibility: hidden;
    /* display: none; */
    /* appearance: none; */
    /* -moz-appearance: none;
    -webkit-appearance: none; */
}

.check-icon {
    fill: #FFFFFF;
    min-width: 16px;
    padding: 1px;
    border: 1.5px solid #212121;
    border-radius: 3px;
}

input[type="checkbox"]:checked + .check-icon {
    background-color: #2196F3;
    border: none;
}

.rules-wraper a {
    color: #2196F3;
}


/* SECTION 1 - LIST OF ARTICLES */
.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: auto 15px;
}

.card {
    display: flex;
    flex-direction: column;
    /* flex-basis: calc((100% - 90px) / 4); */
    list-style: none;
    max-width: 100%;
    min-width: 270px;
}

.container-big-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}

.article-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.142857142857143;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.article-text {
    color: #757575;
    font-size: 14px;
    line-height: 1.714285714285714;
}


/* SECTION 2 - ABOUT US */
.section-about-us {
    visibility: hidden;
    position: fixed;
}

.header2 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    font-size: 28px;
    letter-spacing: 0.84px;
}


/* SECTION 3 - OUR TEAM */
.section-our-team{
    background-color: #F5F4FA;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.our-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    /* margin: auto 15px; */
}

.our-team-list>li {
    text-align: center;
}

.name {
    font-weight: 500;
    line-height: 1.1875;
    color: #212121;
}

.our-team-card {
    max-width: 450px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    transition: scale var(--standard-animation);
}

.our-team-card>img {
    margin-bottom: 30px;
}

.job {
    color: #757575;
    margin-top: 10px;
}

.social-links {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.social-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 50%;   /* zaokraglenie */
    margin: 0 5px;
    fill: #AFB1B8;
}
.social-circle:hover,
.social-circle:focus,
.social-circle-dark:hover,
.social-circle-dark:focus {
    background-color:#2196F3;
    fill: #fff;
    transition: scale var(--standard-animation);
}


/* SECTION 4 - CUSTOMERS */

.customers-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: auto 15px;
}

.customer-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    min-width: 210px;
}

.customer-rectangle:hover,
.customer-rectangle:focus,
.customer-rectangle:active {
    border-color: #2196F3;
    fill: #2196f3;
    transition: scale var(--standard-animation);
}


/* SECTION PORTFOLIO */
.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.filters-list>li:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    background-color: #F5F4FA;
    cursor: pointer;
    border-width: 0;
    line-height: 1.625;
    font-weight: bold;
    border-radius: 4px;
    padding: 6px 22px;
}
.filter-button:focus,
.filter-button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: scale var(--standard-animation);
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    display: flex;
    margin: 15px 0 15px 0;
}
.product-card:hover,
.product-card:focus,
.product-card:active {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: scale var(--standard-animation);
}

figure {
    margin: 0;
}

.before-overlay {
    position: relative;
    overflow: hidden;
    max-height: 294px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2196F3;
    opacity: 90%;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.54px;
    color: #FFFFFF;
    transform: translateY(101%);
    display: flex;
    align-items: center;
    padding: 24px;
}
.product-card:hover .overlay {
    transform: translateY(0);
    transition: transform var(--standard-animation);
}

.product-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1.08px;
    padding: 20px 20px 0 20px;
}

.product-type {
    color: #757575;
    font-size: 16px;
    letter-spacing: 0.48px;
    line-height: 1.875;
    padding: 0 20px 20px 20px;
}


/* FOOTER */
footer {
    background-color: #2F303A;
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 0px;
}

footer .container {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 60px;
    justify-content: space-evenly;
}

footer .container>div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

footer .logo {
    margin: 0;
}

address>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0;
}

.newsletter-form>label {
    align-items: center;
}

#newsletter-user-email {
    padding: 8px 16px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: scale var(--standard-animation);
    color: orange;
    min-width: 270px;
    margin: 0 15px 0 15px;
}

.newsletter-button {
    border: none;
    background-color: #2196F3;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: scale var(--standard-animation);
    fill: #FFFFFF;
}

address {
    margin-top: 20px;
    padding: 0;
}

.contact2,
.contact3 {
    line-height: 1.714285714285714;
}

.contact2>a {
    font-size: 14px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
}

.contact3>a {
    font-size: 14px;
    letter-spacing: 0.42px;
    color: rgba(255, 255, 255, 0.6); /* bialy, 60% przezroczystosci */
}

.social-box {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.social-box>p,
.newsletter-form>label {
    margin: 12px 0 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.42px;
}

footer .social-links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
}

.social-circle-dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 50%;     /* zaokraglenie */
    fill: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
}
.social-circle-dark:hover,
.social-circle-dark:focus {
    background-color: #2196F3;
    fill: #fff;
    transition: scale var(--standard-animation);
}

.newsletter-form {
    color: #FFFFFF;
    display: flex;
    gap: 12px;
}

.newsletter-form>label {
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}



/* MENU  MOBILE */
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    z-index: 999;
    background-color: #FFFFFF;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #212121;
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
}

.mobile-menu .link:hover {
    color: #2196F3;
}

.mobile-social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 64px;
}

.mobile-social-list a {
    color: #2196F3;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.36px;
}

.mobile-tel {
    display: flex;
    color: #2196F3;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.68px;
    padding: 302px 0 32px;
}

.mobile-email {
    display: flex;
    color: #757575;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.48px;
}


/* MEDIA  JUST  FOR  TABLET */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .contacts-list {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        margin: 0;
    }
    .card {
        max-width: 354px;
    }
    .section-our-team {
        max-width: 1200px;
    }
    .customer-rectangle {
        min-width: 226px;
    }
}


/* MEDIA  FOR  TABLET  AND  DESKTOP */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1200px;
    }
    .mobile-menu {
        display: none;
    }
    .menu-toggle {
        display: none;
    }
    .navigation {
        min-height: 80px;
    }
    nav,
    .contacts-list {
        display: flex;
    }
    .nav-list {
        display: flex;
        padding: 24px 0;
        gap: 40px;
    }
    .nav-page {
        color: #212121;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.142857142857143;
    }
    .nav-list>li {
        position: relative;
    }
    .nav-page-current {
        color: #2196F3;
        font-size: 14px;
        font-weight: 500;
    }
    .nav-page-current::after {
        position: absolute;
        content: " ";
        height: 4px;
        width: 100%;
        bottom: -24px;
        left: 0px;
        border-radius: 2px;
        background-color: #2196F3;
    }
    .contacts-list {
        display: flex;
    }
    .contact1 {
        display: flex;
        align-items: center;
        color: #757575;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.02em;
        stroke: #757575;    /* zapis nie konieczny, dotyczy bazowego koloru obramowania. Naszukalem sie dziada wiec zostaje */
        stroke-width: 2px;
    }
    .contact1:hover,
    .contact1:focus,
    .contact1:active {
        color: #2196F3;
        stroke: #2196F3;
        transition: scale var(--standard-animation);
    }
    .contact1>svg {
        margin-right: 10px;
    }
    .modal-body {
        min-width: 528px;
    }
    #newsletter-user-email {
    min-width: 358px;
    }
}


/* MEDIA  JUST  FOR  DESKTOP */
@media screen and (min-width: 1200px) {
    .section-about-us {
            visibility: visible;
            position: initial;
        }
    .logo {
        margin-right: 76px;
    }
    .contacts-list {
        margin-left: auto;
        align-items: center;
    }
    .contact1 {
        margin-left: 50px;
    }
    .head {
        max-width: 1600px;
        min-height: 600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                        url("../images/header-background.jpg");
        }
    .heading1 {
        font-size: 44px;
        line-height: 1.363636363636364;
        letter-spacing: 0.06em;
        max-width: 696px;
    }
    .header2 {
        font-size: 2.25em;
    }
    .card {
        max-width: 270px;
    }
    .about-us-list {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    .section-our-team {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .customers-list {
        flex-wrap: nowrap;
        margin: 0;
    }
    .customer-rectangle {
        min-width: 170px;
    }
    footer .container {
        justify-content: space-between;
    }
    footer .container {
        flex-wrap: nowrap;
        gap: 0;
    }
    footer .logo {
        margin-right: 100px;
    }
    address>ul {
        align-items: flex-start;
    }
    .newsletter-form {
        flex-direction: row;
        align-items: normal;
        margin: 0;
    }
    .newsletter-form>label {
        align-items: flex-start;
    }
    #newsletter-user-email {  
        max-width: 100%;
        margin: 0;
    }
    .newsletter-button {
        margin-top: 48px;
    }
}